.nav {
display: flex;
flex-direction: row;
flex-flow: wrap;
justify-content: space-around;
align-items: center;
text-align: center;
height: 20vh;
min-height: 200px;
width: 100%;
  .sidebar {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    color: #592502;
  } a {
    color: #592502;
    text-decoration: none;
    // font-size: 2em;
  }
  a:hover {
    color: #eb57be;
  }
  h1 {
    // font-family: 'Sacramento', cursive;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3em;
    color: #592502;
  }
  .mail {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    text-decoration: none;
    border: solid #eb57be .5px;
    padding: 10px;
    color: #592502;
  }
}
.backgroundFlower {
  width: 90vw;
  height: 70vh;
  background-image: url("images/cake2.jpg");
  background-position: top;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3em;
    padding: 100px 0px 0px 100px;
  }
  p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    padding: 0px 0px 0px 100px;
  }
}

@media (max-width: 600px) {
  .backgroundFlower {
    display: none;
  }
}

.images {
  border-top: solid black .5px;
  width: 98vw;
  height: 100vh;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .designsHeading {
    width: 100vw;
    text-align: center;
    padding: 100px 0px 100px 0px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3em;
  }
  @media (max-width: 600px) {
    .designsHeading {
      display: none;
    }
  }
  .imgDiv {
    border: solid #eb57be .5px;
    padding: 0px 0px 20px 0px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    h3 {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 2em;
    }
    p {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 1.5em;
    }
  }
}

.about {
  width: 98vw;
  // height: 100vh;
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  // text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  border-top: solid black .5px;
  margin-top: 3em;
  .imageText {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 300px;
    min-width: 100px;
    padding: 20px;
  }
  h1 {
    font-size: 3em;
    padding-top: 3em;
  }
  p {
    max-width: 600px;
    font-size: 2em;
    // text-align: center;
    margin: auto;
  }
}


.footer {
  width: 98vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a85202;
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  font-size: 3em;
  margin-top: 100px;
}
